<div class="modal modal-lg fade" id="viewTransactionModal" tabindex="-1" aria-labelledby="viewTransactionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="viewTransactionModalLabel">Details</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="d-flex justify-content-between">
            <div class="left text-uppercase">
              <span class="badge badge-count">Classification</span>
              <span class="badge badge-danger">Bac Unit</span>
              <span class="badge badge-info"> Banner Program</span>
            </div>
            <div class="right">
              <span class="badge badge-black">2024-03-12T16:00:00.000Z</span>
            </div>
          </div>
          <div class="row mb-3 mt-3">
            <div class="col-md-4">
              <div class="qrcode"></div>
            </div>
            <div class="col-md-8">
              <h3>Sample Text</h3>
              <h5 class="text-muted mb-4">Requestioner </h5>
            </div>
          </div>
          
          <button class="btn btn-primary btn-round">₱12,143.69</button>
          <button class="btn btn-primary btn-border btn-round"><i class="fas fa-solid fa-coins"></i> <span>Fund Source</span></button>
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-border" data-bs-dismiss="modal">Close</button>
          <a href="#" type="button" class="btn button btn-primary">View Remarks</a>
        </div>
      </div>
    </div>
  </div>