<div class="card">
  <div class="card-header">
    <div class="card-title"><%= title %></div>
  </div>
  <div class="card-body">
    <div class="chart-container">
      <canvas
        id="<%= id %>"
        style="width: 50%; height: 20%"
        datasets="<%= datasets %>"
      ></canvas>
    </div>
  </div>
</div>
