<div class="modal modal-lg fade" id="mailToDocumentTracker" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="addEmployeeLabel">Details</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="form-group form-group-default">
            <label>Remarks</label>
            <textarea class="form-control" id="comment" rows="5" required></textarea>
          </div>
          <div class="form-group form-group-default">
            <label>Email</label>
            <input id="emailsToSend" type="email" class="form-control">
          </div>
          <div class="form-group form-group-default">
            <label class="form-label">Employees</label>
            <select name="divisions" multiple class="form-select" size="6">
              <option title="RTD 1" value="RTD 1" selected>RTD 1</option>
              <option title="RTD 2" value="RTD 2" selected>RTD 2</option>
              <%
                const {divisions} = dafaultTransactionData
                divisions.forEach(division=> { 
                  if(division) { 
              %>
                    <option title=" <%= division %>" value="<%= division %>">Division <%= division %></option>
                  <% } 
                }); 
              %>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <% if(logonUser){
              const { username } = JSON.parse(logonUser) %>
          <input id="created_by" type="hidden" value="<%=username??'justtest-'%>">
          <% } %>
          
          <button type="button" class="btn btn-primary btn-border" data-bs-dismiss="modal"><i class="icon-close"></i> Close</button>
          <a href="#" class="btn button btn-primary" id="createDocumentTrackerBtn"><i class="icon-user-follow"></i> Create</a>
      </div>
      </div>
    </div>
  </div>
          