<!-- Header Template -->
<%- include('../../views/header') -%>

<div class="wrapper">
    <%- include('../../views/sidebar') -%>

    <div class="main-panel">
      <%- include('../../views/main-header') -%>

      <div class="container" >
          <div class="page-inner">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4">
              <div>
                  <h3 class="fw-bold mb-3"><%- title -%></h3>
                  <h6 class="op-7 mb-2">External entities or individuals that provide goods, services, or resources to an organization</h6>
              </div>
            </div>
        </div>
      </div>
    </div>
</div>
           