.feed-item {
  .icon {
    i {
      width: 28px;
    }
  }
}

.form-button-action > * > i {
  pointer-events: none;
}

.fullwidth {
  width: 100%;
}

.card-body .activity-feed {
  max-height: 40vh;
  overflow-y: scroll;
}

#transactions-datatables {
  tr {
    &:hover {
      .progress {
        background-color: #ddd;
      }
    }
  }
}

.form-group.readonly {
  background-color: #e8e8e8;
}

.total-response-time {
  color: #fff;
}