.feed-item {
  .icon {
    i {
      width: 28px;
    }
  }
}

.form-button-action > * > i {
  pointer-events: none;
}

.fullwidth {
  width: 100%;
}

.card-body .activity-feed {
  max-height: 40vh;
  overflow-y: scroll;
}