<div class="modal modal-lg fade" id="settingsModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Details</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group form-group-default">
          <label>Abbreviation</label>
          <input id="key" type="text" class="form-control">
        </div>
        <div class="form-group form-group-default">
          <label>Stands</label>
          <input id="meaning" type="text" class="form-control">
        </div>
        <div class="form-group form-group-default">
          <label>Email</label>
          <input id="email" type="text" class="form-control">
        </div>
        <div class="form-group form-group-default">
          <label>Responsible</label>
          <input id="responsible" type="text" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-border" data-bs-dismiss="modal"><i class="icon-close"></i>
          Close</button>
        <a href="#" class="btn button btn-primary" id="setting"><i class="fas fa-paper-plane"></i>
          Update</a>
      </div>
    </div>
  </div>
</div>
