<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking Sheet for SVP</title>
    <style>
        #trackingSheet {
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            header {
                h1, h4 {
                    margin: 0;
                    text-align: center;
                }
            }
        }
        .subHeader {
            margin-top: 10px;
            display: flex;
            justify-content: space-between;
        }
        @media print {
            * {
                font-size: 10pt;
            }
        }
    </style>
</head>
<body id="trackingSheet">
    <header class="text-center">
        <h1 class="text-uppercase">Tracking Sheet for SVP</h1>
        <h4>Department of Agriculture RFO7</h4>
        <div class="subHeader">
            <div>Item: </div>
            <div>PR #:</div>
            <div>ABC ₱:</div>
        </div>
    </header>
    <main>
        <table id="trackingSheetTable" class="display text-center" style="width:100%">
            <thead>
                <tr>
                    <th>OFFICE/Person Responsible</th>
                    <th>NAME</th>
                    <th>SIGNATURE</th>
                    <th>Reglementary Period</th>
                    <th>
                        DATE
                        <table class="text-center" style="width:100%">
                            <tr>
                                <th>IN</th>
                                <th>OUT</th>
                            </tr>
                        </table>
                    </th>
                    <th>REMARKS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1. End User/Prog. Coor</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <table class="text-center" style="width:100%">
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </table>
                    </td>
                    <td>PR Preparation & Fund Earmarking</td>
                </tr>
                <tr>
                    <td>2. Division Chief</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <table class="text-center" style="width:100%">
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </table>
                    </td>
                    <td>PR Approval (Division Chief)</td>
                </tr>
            </tbody>
        </table>
    </main>
</body>
</html>