<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tracking Sheet for SVP</title>
</head>
<body>
    <header class="text-center">
        <h1 class="text-uppercase">Tracking Sheet for SVP</h1>
        <h6>Department of Agriculture RFO7</h6>
    </header>
    <main>
        <div class="">
            <div>Item: </div>
            <div>PR #:</div>
            <div>ABC ₱:</div>
        </div>
        <table id="example" class="display text-center" style="width:100%">
            <thead>
                <tr>
                    <th>OFFICE/Person Responsible</th>
                    <th>NAME</th>
                    <th>SIGNATURE</th>
                    <th>Reglementary Period</th>
                    <th>
                        DATE
                        <table class="text-center" style="width:100%">
                            <tr>
                                <th>IN</th>
                                <th>OUT</th>
                            </tr>
                        </table>
                    </th>
                    <th>REMARKS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1. End User/Prog. Coor</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <table class="text-center" style="width:100%">
                            <tr>
                                <th></th>
                                <th></th>
                            </tr>
                        </table>
                    </td>
                    <td>PR Preparation & Fund Earmarking</td>
                </tr>
                
            </tbody>
            <tfoot>
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Salary</th>
                    <th>Office</th>
                    <th>Extn.</th>
                    <th>E-mail</th>
                </tr>
            </tfoot>
        </table>
    </main>
</body>
</html>