<%- include('../views/header') -%>
<link rel="stylesheet" href="/assets/css/404.css">
    <div class="error-wrapper">
        <div class="error-container">
            <div class="error">
                <div class="error-title">
                    Error
                </div>
                <div class="error-number">
                    404
                </div>
                <div class="error-description">
                    Sorry, The page you were looking for doesn't exist
                </div>
                <div class="error-or">
                    <div class="or-line"></div>
                    <div class="or">Or</div>
                </div>
                <ul class="error-actions d-flex justify-content-center">
                    <li>
                        <a href="/" title="Go Home">
                            <i class="fas fa-home"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" title="Send Request">
                            <i class="fas fa-paper-plane"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
<%- include('../views/footer') -%>