<%- include('../views/header') -%>
<div class="wrapper">
    <%- include('../views/sidebar') -%>
  
    <div class="main-panel">
      <%- include('../views/main-header') -%>
        <div class="container">
            <div class="documentToPrint letter">
                <div class="documentBody">
                    <div class="header">
                        <div class="logo"><img src="/assets/img/da-logo.png" alt="" width="100"></div>
                        <div class="qrcode"><img src="/assets/img/mlane.jpg" alt="" width="100"></div>
                        <div class="main-heading">
                            <h2>Department of Agriculture</h2>
                            <small>Regional Field Office VII</small>
                            <h3>DA RF07 Complex, Maguikay, Mandaue City</h3>
                            <h1>Purchase Request</h1>
                        </div>
                    </div>
                    <div class="body">
                        <table class="body-head">
                            <tr>
                                <td>Entity Name: </td>
                                <td class="underline" colspan="4"></td>
                                <td class="text-right">Fund Cluster: </td>
                                <td class="underline" colspan="2"></td>
                            </tr>
                            <tr>
                                <td>Office/Section: </td>
                                <td></td>
                                <td>PR No.:</td>
                                <td class="underline" colspan="2"></td>
                                <td class="text-right">Date: </td>
                                <td class="underline"></td>
                                <td class="underline"></td>
                            </tr>
                            <tr>
                                <td class="underline" colspan="2"></td>
                                <td colspan="2">Responsibility Center Code: </td>
                                <td class="underline" colspan="4"></td>
                            </tr>
                        </table>

                        <table class="items">
                            <tr>
                                <th width="80">Stock No.</th>
                                <th width="70">Unit</th>
                                <th width="300">Item Description</th>
                                <th width="50">Qty</th>
                                <th width="80">Unit Cost</th>
                                <th width="80">Total Cost</th>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-left fw-bolder">Prepared by:</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-center fw-bolder text-uppercase">Full Name</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-center">Position</td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Purspose: </td>
                                <td colspan="5"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td class="text-left text-underline">Request by:</td>
                                <td class="text-underline" colspan="3">Approved by:</td>
                            </tr>
                            <tr>
                                <td>Signature:</td>
                                <td></td>
                                <td></td>
                                <td colspan="3"></td>
                            </tr>
                            <tr>
                                <td>Printed Name:</td>
                                <td></td>
                                <td class="text-center fw-bolder text-uppercase">Full Name</td>
                                <td class="text-center fw-bolder text-uppercase" colspan="3">Full Name</td>
                            </tr>
                            <tr>
                                <td>Designation:</td>
                                <td></td>
                                <td class="text-center">Supervisor</td>
                                <td class="text-center" colspan="3">Division Head</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer Template  -->
<%- include('../views/footer') -%>