<div class="modal fade" id="checkPasscodeModal" tabindex="-1" aria-labelledby="checkPasscodeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="checkPasscodeLabel">Passcode: </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group form-group-default">
          <label>Enter the passcode: </label>
          <input id="Name" type="text" class="form-control">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-border" data-bs-dismiss="modal">Close</button>
        <a id="checkPasscode" href="#" type="button" class="btn button btn-primary" data-transid="">Check</a>
      </div>
    </div>
  </div>
</div>