<div class="modal fade" id="remarksModal" tabindex="-1" aria-labelledby="remarksModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="remarksModalLabel">New Remarks</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row mb-3 mt-3">
            <div class="form-group hidden">
              <label for="currentApprover">Current Approver</label>
              <input id="currentApprover" name="currentApprover" type="text" class="form-control" placeholder="Fill Name">
            </div>
            <div class="form-group">
              <label for="selectedStatus" class="form-label">Select Status</label>
              <div id="selectedStatus" class="row gutters-xs">
                <div class="col-auto">
                  <label class="colorinput">
                    <input name="color" type="radio" value="black" class="colorinput-input">
                    <span class="colorinput-color bg-black" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Back to office"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="colorinput">
                    <input name="color" type="radio" value="primary" class="colorinput-input">
                    <span class="colorinput-color bg-primary"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="For Approval"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="colorinput">
                    <input name="color" type="radio" value="secondary" class="colorinput-input" >
                    <span class="colorinput-color bg-secondary" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Lack of Signature"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="colorinput">
                    <input name="color" type="radio" value="info" class="colorinput-input">
                    <span class="colorinput-color bg-info" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Lack of Attachments"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="colorinput">
                    <input name="color" type="radio" value="success" class="colorinput-input">
                    <span class="colorinput-color bg-success" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Read to move"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="colorinput">
                    <input name="color" type="radio" value="warning" class="colorinput-input">
                    <span class="colorinput-color bg-warning"  data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Waiting"></span>
                  </label>
                </div>
                <div class="col-auto">
                  <label class="colorinput">
                    <input name="color" type="radio" value="danger" class="colorinput-input">
                    <span class="colorinput-color bg-danger" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Issue occured"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group hidden">
              <label for="purchaseRequestStatuses">Select Status</label>
              <select class="form-select form-control" id="purchaseRequestStatuses">
                <% if(purchaseRequestStatuses) {
                  purchaseRequestStatuses.forEach(status => {
                %>
                <option><%=status%></option>
                <%
                  })
                } %>
              </select>
            </div>
            <div class="form-group hidden">
              <label for="fundsAvailability">Select Funds Availability</label>
              <select class="form-select form-control" id="fundsAvailability">
                <% if(purchaseRequestStatuses) {
                  purchaseRequestStatuses.forEach(status => {
                %>
                <option><%=status%></option>
                <%
                  })
                } %>
              </select>
            </div>
            <div class="form-group">
              <label for="comment">Comment</label>
              <textarea class="form-control" id="comment" rows="5" required></textarea>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="assignedto">
              <label class="form-check-label" for="assignedto">
                Assign to me
              </label>
            </div>
            <div class="form-group hidden">
              <label for="reglementaryPeriod" class="form-label">Reglementary Period</label>
              <div id="reglementaryPeriod" class="selectgroup selectgroup-pills">
                <label class="selectgroup-item">
                  <input type="checkbox" name="period" value="1" class="selectgroup-input" checked="">
                  <span class="selectgroup-button">1hr</span>
                </label>
                <label class="selectgroup-item">
                  <input type="checkbox" name="period" value="2" class="selectgroup-input">
                  <span class="selectgroup-button">2hr</span>
                </label>
                <label class="selectgroup-item">
                  <input type="checkbox" name="period" value="3" class="selectgroup-input">
                  <span class="selectgroup-button">3hr</span>
                </label>
                <label class="selectgroup-item">
                  <input type="checkbox" name="period" value="4" class="selectgroup-input">
                  <span class="selectgroup-button">4hr</span>
                </label>
                <label class="selectgroup-item">
                  <input type="checkbox" name="period" value="24" class="selectgroup-input">
                  <span class="selectgroup-button">1 Day</span>
                </label>
                <label class="selectgroup-item">
                  <input type="checkbox" name="period" value="48" class="selectgroup-input">
                  <span class="selectgroup-button">2 Days</span>
                </label>
                <label class="selectgroup-item">
                  <input type="checkbox" name="period" value="72" class="selectgroup-input">
                  <span class="selectgroup-button">3 Days</span>
                </label>
              </div>
            </div>
            <div class="form-group hidden">
              <span class="badge badge-danger fs-5">The PR is not out of the division office yet!</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary btn-border" data-bs-dismiss="modal">Close</button>
          <a id="createRemarks" href="#" type="button" class="btn button btn-primary" data-transid="">New Remarks</a>
        </div>
      </div>
    </div>
  </div>