<div class="card">
  <div class="card-header">
    <div class="card-head-row card-tools-still-right">
      <div class="card-title">List of <%=title%>
      </div>
    </div>
  </div>
  <div class="card-body">
    <%- 
      include('../../components/datatables/tables', { 
        tableId: "marketScope", 
        thead: [
            "ID", "Project Title", "Reference #", "Date Conducted", "End-User Unit", "Consultations with Suppliers", "Participation in Summits", "Review    Reports", "Review Brochures", "Price Sourcing", "Use Philgeps Data", "Other-Activity", "Documentation", "Prepared By", "Prepared By Position", "Date Prepared", "Prepared By Signature", "Review By Name", "Reviewed By Position", "Date Reviewed", "Reviewed by Signature", "Created", "Update", "Actions"],
        tbody: datatables, 
        hideColumns: [] 
      }) 
    -%>
  </div>
</div>